{% load static i18n %}<!DOCTYPE html>
<html class="bs4" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}prplatform{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block css %}

    <link href="{% static 'css/bootstrap-ns.css' %}" rel="stylesheet" data-aplus="yes">

    <!--<link href="{% static 'css/project.css' %}" rel="stylesheet" data-aplus="yes">-->
    <!--<link href="{% static 'css/pygmentify.css' %}" rel="stylesheet" data-aplus="yes">-->


    {% endblock %}

  </head>

  <!-- BASE_EMBEDDED -->

  <body>
    <div class="bs4 bs4-body">
    <div class="row">
        <div class="container mt-4">

          {% if messages %}
              {% for message in messages %}
                  <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
              {% endfor %}
          {% endif %}

          {% block content %}
          {% endblock content %}

        </div>
    </div>
    </div>
    {% block modal %}{% endblock modal %}

  </body>
</html>

