{% load exercise_filters %}

  <div class="row">
    <div class="col-md-12 mb-2">
      <ul class="nav nav-tabs">
        <li>
          <a class="nav-link {% if tab == 'exercise' %}active{% endif %}"
             href=" {{ object.get_absolute_url }}">
            Exercise
          </a>
        </li>
        {% if teacher %}
          <li class="nav-item">
            <a class="nav-link {% if tab == 'edit' %}active{% endif %}"
               href="{{ object.get_edit_url }}">
              Edit
            </a>
          </li>
          {% if object.questions %}
          <li class="nav-item">
            <a class="nav-link {% if tab == 'questions' %}active{% endif %}"
               href="{{ object.get_question_url }}">
              Questions
            </a>
          </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link {% if tab == 'deviations' %}active{% endif %}"
               href="{{ object.get_deviations_list_url }}">
              Deviations
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if tab == 'submissions' %}active{% endif %}"
               href="{{ object.get_list_url }}">
              List of submissions
              <span class="ml-1 badge badge-primary badge-pill">{{ object.submissions.count }}</span>
            </a>
          </li>
        {% elif enrolled %}
          <li class="nav-item">
            <a class="nav-link {% if tab == 'submissions' %}active{% endif %}"
               href="{{ object.get_list_url }}">
              My submissions
              <span class="ml-1 badge badge-primary badge-pill">
                {{ object|my_submission_count:user }} / {{ object.max_submission_count}}
              </span>
            </a>
          </li>
        {% endif %}

        {# if we're looking at a ReviewExercise it has questions property #}

        {% if object.questions and teacher %}
          <li class="nav-item">
            <a class="nav-link {% if tab == 'statistics' %}active{% endif %}"
               href="{{ object.get_stats_url }}">
              Statistics
            </a>
          </li>
        {% endif %}

        {% if object.questions and enrolled or object.questions and teacher %}
          <li class="nav-item">
            <a class="nav-link {% if tab == 'submissions_me' %}active{% endif %}"
               href="{{ object.get_list_url }}?mode=my">
              Feedback for me
              <span class="ml-1 badge badge-primary badge-pill">{{ object|my_received_feedback_count:user }}</span>
            </a>
          </li>
        {% endif %}


      </ul>
    </div>
  </div>
