{% if chooseForm %}

{% load crispy_forms_tags %}

<div class="card card-body mb-4">
  Choose the subject of your peer-review here:
  <form id="choose_form" class="form-horizontal" method="get"
                                action="{{ object.get_absolute_url }}?mode=choose">
    {{ chooseForm | crispy }}

    {% if not embedded %}
        <button id="choose_form_submit" type="submit" class="btn btn-sm btn-primary">Choose</button>
    {% endif %}
  </form>

  {% if prev_review_exists %}
  <div class="alert alert-danger mt-4">
    <strong>You have already done a review for this work!</strong><br>
    Are you sure you want to peer-review the work again?
  </div>
  {% endif %}
</div>

    {% if embedded %}
        {% include "./_choose_dropdown_embed.html" %}
    {% endif %}

{% endif %}
