{% load static %}

<style>
    .spinning_loader {
      border: 10px solid #f3f3f3; /* Light grey */
      border-top: 10px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
</style>

<div id="embed_list_loader" style="display: none;">
    Loading... <div class="spinning_loader"></div>
</div>


{% comment %}
  this renders a hidden list of peer-reviewables by other students.
  javascript in embedded_view_dropdown_list.js will show/hide elements
  when the chooseForm value changes.
{% endcomment %}
<div id="embed_list_container">
    {% for option, dl_token in embed_dropdown_list_options_and_dl_tokens %}
        <div
            id="embed_list_option_{{ option.pk }}"
            class="card card-body alert-warning mb-4 p-2"
            style="display:none;padding: 10px;">
            <a href="{{ option.get_file_download_url }}?dl_token={{ dl_token }}">
              Click here to download the file to be peer-reviewed
            </a>
        </div>
    {% endfor %}
</div>


{% block extra_js %}
    <script src="{% static 'js/embedded_view_dropdown_list.js' %}"></script>
{% endblock extra_js %}
