<div class="collapse" id="collapse-model-answer">
  <div style="background:lightgreen;"
       class="card card-body mb-4">
    <h5>Model answer:</h5>

    {% if not object.model_answer %}
      <p>No model answer available.</p>
    {% else %}
      {% load pygmentify %}
      {% pygment %}

        <!-- TODO: general implementation for any contents -->
        <pre lang="python">
          {{ object.model_answer | linebreaks }}
        </pre>

      {% endpygment %}
    {% endif %}
  </div>
</div>
