<div class="collapse" id="collapse-my-submission">
  {% if teacher %}
    <div class="alert alert-primary">
      <strong>Teacher:</strong> my submission points to
      <a href="{{ my_submission.get_absolute_url }}">{{ my_submission }}</a>
    </div>
  {% endif %}

  <div style="background:pink;"
       class="card card-body mb-4">

      <h5>My submission:</h5>

      {% if not my_submission %}
        Not available

      {% elif my_submission.text %}

        {{ my_submission.text }}

      {% else %}

        {% load pygmentify %}
        {% pygment %}
          <!-- TODO: general implementation for any contents -->
          <pre lang="python">{{ my_filecontents }}</pre>
        {% endpygment %}

      {% endif %}

  </div>
</div>
