  <div class="alert alert-primary">
    Questions are generic and support three types: textual answer in a text box, choices, and file upload.<br>
    Each of the three types are accompanied by a question text (the actual question or short instruction).<br>
    Types cannot be mixed, ie. one question can only be of one type but one peer-review exercise can have
    multiple questions.
    <br><br>
    <strong>For textual answer</strong>, leave choices and filetypes empty. <strong>For choices</strong>,
    fill in the choices according to the instructions at the bottom of the page and leave filetypes empty.
    <strong>For file upload</strong>, leave choices empty and fill in the filetypes. <strong>Always</strong>
    fill in the question text.
  </div>

