  <b>How choices work:</b>
  <br>
  You can define an arbitrary number of choices in the format value|textual value separated by newline.
  The value part has to be an integer and the textual part will be interpreted as string. The value part
  will be automatically used to calculate statistics shown to teachers.
  <br>
  Please note: the students will see the textual value which is the right-hand side of the | character. You can get | from your keyboard
  (most likely) by pressing Alt+Gr and &lt; at the same time.
  <br><br>
  <strong>Some examples:</strong>
  <pre>
  0|Bad
  1|Not so good
  2|Average
  3|Good
  4|Perfect
  </pre>
  <pre>
  1|0 (Worst)
  3|3 (Average)
  5|5 (Best)
  </pre>
  <pre>
  1|The work is OK
  0|The work is NOT ok
  </pre>
  In all of the examples the students see the right-hand side of |.
