
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create new exercise{% endblock %}

{% block content %}
  <h1>Create a new exercise</h1>
  <h4>In this exercise the student returns something to the service.</h4>
  <form class="form-horizontal" method="post" action="{% url 'courses:create-exercise' course.base_course.url_slug course.url_slug %}">
    {% csrf_token %}
    {{ generalForm|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Create</button>
      </div>
    </div>
  </form>
{% endblock %}
