
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h2>Exercise: {{ object.name }}
        {% if teacher %}
          <a href="{% url 'courses:update-exercise' object.course.base_course.url_slug object.course.url_slug object.pk %}">
            (edit)
          </a>
        {% endif %}
      </h2>


      <div class="col-md-12">
        {{ object.description }}
      </div>

      {% if object.file_upload %}
      <div class="col-md-12 mt-4">


        <!-- TODO: this hand-crafted form might need to be replaced
                   with some future submission model form -->
        <form>
          <div class="form-group mb-4">
            <label for="exampleFormControlFile1">
              {{ object.upload_instructions }}
            </label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>

          <button type="button" class="btn btn-primary btn-sm">Submit</button>
        </form>

      </div>
      {% endif %}

    </div>
  </div>
</div>
{% endblock content %}

