{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Question details{% endblock %}

{% block content %}
  <h1>Question
    <a class="btn btn-primary btn-sm"
       href="{{ object.get_edit_url }}">
      Edit
    </a>
  </h1>

  <div class="col-md-6 mt-4">
    <b>Question:</b>
    {{ object.text }}

    <br>

    {% if not object.choices %}
      No choices added to the question. The student answers in text.
    {% else %}
    <br>
    <b>Choices:</b>
    {% endif %}

    {% for choice in object.choices %}
    <div class="list-group-item">
      Choice {{ forloop.counter }}:
      {{ choice.1 }} ({{ choice.0 }})
    </div>
    {% endfor %}
  </div>

{% endblock %}
