
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h2>Exercise: {{ object.name }}
        {% if teacher %}
          <a href="{% url 'courses:update-review-exercise' object.course.base_course.url_slug object.course.url_slug object.pk %}">
            (edit)
          </a>
        {% endif %}
      </h2>


      {% if not my_submission %}

        <div class="col-md-12">
          You cannot make peer-reviews before making your own original submission.
        </div>

      {% elif reviews_done %}

        <div class="col-md-12">
          You have already submitter your peer-reviews to this exercise.
        </div>

      {% else %}

        <div class="col-md-12 mb-4">
          Exercise to be reviewed: <b>{{ object.reviewable_exercise.name }}</b>
        </div>

        <p>
          <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapse-reviewable" aria-expanded="false" aria-controls="collapseExample">
            To be reviewed
          </button>
          <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapse-my-submission" aria-expanded="false" aria-controls="collapseExample">
            My submission
          </button>
          <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapse-model-answer" aria-expanded="false" aria-controls="collapseExample">
            Teacher's solution
          </button>
        </p>

        <div class="collapse" id="collapse-my-submission">
          {% include "./my_submission.html" %}
        </div>

        <div class="collapse show" id="collapse-reviewable">
          {% include "./reviewable.html" %}
        </div>

        <div class="collapse" id="collapse-model-answer">
          {% include "./model_answer.html" %}
        </div>

        <div class="col-md-12 mt-4">
          <h5>Description</h5>
          {{ object.description | linebreaks }}
        </div>




        <form class="form-horizontal" method="post"
              action="{% url 'courses:exercises:review-detail' course.base_course.url_slug course.url_slug object.pk %}">

          {% csrf_token %}

          {% for form in forms %}
          <h6>Question #{{ forloop.counter }}</h6>
            {{ form|crispy }}
          {% endfor %}

          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-success">Save answer</button>
            </div>
          </div>
        </form>

      {% endif %}

    </div>
  </div>
</div>
{% endblock content %}

