
{% extends "base_embedded.html" %}
{% load static %}
{% load exercise_filters %}

{% block content %}

  <div class="row">
    <div class="col-md-12">

      <h2>{{ object.name }}</h2>

      <div style="float:none;" class="col-md-12 mb-4">
        {% include "./_open_times.html" %}

        <div class="alert alert-warning ml-3 mr-3">
          {{ object|my_submission_count:user }} / {{ object.min_submission_count }} peer-reviews completed.
        </div>

        {% if errormsg and errormsg != 'not_open' %}
          <div class="alert alert-warning ml-3 mr-3">
          {% if errormsg == 'own_submission_missing' %}
            It seems that you haven't completed the original exercise this peer-review is about.
            You have to finish that exercise first before you can peer-review other students.
            <br>
            <strong>(Please note: there might be a one minute delay after you finish the exercise.
                     If you already finished it, wait a moment and refresh this page.)</strong>
          {% elif errormsg == 'reviews_done' %}
            You have already submitted your peer-reviews to this exercise.
          {% endif %}
          </div>
        {% endif %}
      </div>

      <hr />

      <div>
        {{ object.description | linebreaks }}
      </div>

      {% if show_content_to_review %}

        {% include "./_choose_form.html" %}

        {% if not reviewable %}
          <div class="alert alert-warning ml-3 mr-3">
            Not a thing was found to be reviewed :-| You cannot make this peer-review just yet.
          </div>
          <b>
        {% else %}

          {% if filecontents %}
            {% include "./_my_submission.html" %}
          {% endif %}

          {% include "./_reviewable.html" with chooseMode=chooseForm %}

        {% endif %}

      {% endif %}

      {% include "./_review_form.html" %}
    </div>
  </div>
  {% block extra_js %}
    <script src="{% static 'js/embedded_view_bootstrap_fix.js' %}"></script>
  {% endblock extra_js %}
{% endblock content %}

