

{% block content %}

  {% if teacher %}
    <div class="alert alert-primary">
      <strong>Teacher:</strong> reviewable submission points to
      <a href="{{ reviewable.get_absolute_url }}">{{ reviewable }}</a>
    </div>
  {% endif %}

  <div style="background:lightyellow;"
       class="card card-body mb-4">

      <h5>To peer-review:</h5>

      {% if not reviewable %}
        Not available

      {% elif reviewable.text %}

        {{ reviewable.text }}

      {% else %}

        {% load pygmentify %}
        {% pygment %}
          <!-- TODO: general implementation for any contents -->
          <pre lang="python"
               class="codebox">{{ filecontents }}</pre>
        {% endpygment %}

      {% endif %}

  </div>

{% endblock %}
