
{% extends "base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object.course.code object.course.get_absolute_url %}
    {% breadcrumb "Peer-review exercise" ""%}
    {% breadcrumb object.name object.get_absolute_url %}
{% endblock %}

{% block content %}

  {% include "../tabs.html" with tab="exercise" %}

  <div class="row">
    <div class="col-md-12">

      <h2>{{ object.name }}</h2>

      <div style="float:none;" class="mb-4">
        <p class="font-italic">

          {% if object.type != 'GROUP' %}
          In this exercise you're peer-reviewing other students' submissions to the exercise
            <a href="{{ object.reviewable_exercise.get_absolute_url }}">
              {{ object.reviewable_exercise.name }}
            </a>
          {% else %}
          In this exercise you're peer-reviewing other members in your own group.
          {% endif %}
        </p>

        {% include "./_open_times.html" %}
        {% include "./_re_errormsgs.html" %}

        <hr />

        {{ object.description | linebreaks }}
      </div>


      {% if show_content_to_review %}

        {% include "./_choose_form.html" %}

        {% if not chooseForm and not reviewable %}
          <div id="no-submissions-for-peer-review" class="alert alert-warning ml-3 mr-3">
            Not a thing was found to be reviewed :-| You cannot make this peer-review just yet.
          </div>
        {% else %}
          {% include "./_reviewable.html" with chooseMode=chooseForm %}
        {% endif %}

      {% endif %}

      {% include "./_review_form.html" %}
      {% include "./_submit_as_student.html" %}
    </div>
  </div>
{% endblock content %}

