

{% block content %}

<div style="background:lightyellow;"
     class="card card-body">

  {% if not reviewable %}
    Not a thing was found to be reviewed :-|
    <br>
    In other words, there's been no submissions to the original task just yet!
  {% else %}

    <b>{{ reviewable }}</b>

    <br>

    {% if reviewable.text %}

      {{ reviewable.text }}

    {% else %}

      {{ reviewable.file }}

      {% load pygmentify %}
      {% pygment %}
      <pre lang="python"
           class="codebox">{{ filecontents }}</pre>
      {% endpygment %}

    {% endif %}

  {% endif %}

</div>


{% endblock %}
