

{% block content %}

  {% if teacher %}
    <div class="alert alert-primary">
      <strong>Teacher:</strong> reviewable submission points to
      <a href="{{ reviewable.get_absolute_url }}">{{ reviewable }}</a>
    </div>
  {% endif %}

  <div style="background:lightyellow;"
       class="card card-body mb-4">

      <h5>To peer-review:</h5>

      {% if not reviewable %}

        Not available for some reason. Something went wrong??

      {% elif reviewable.text %}

        {{ reviewable.text | linebreaks }}

      {% elif filecontents %}

        {% load pygmentify %}
        {% pygment %}
          <!-- TODO: general implementation for any contents -->
          <pre lang="python"
               class="codebox">{{ filecontents }}</pre>
        {% endpygment %}

      {% else %}
        You can download the other student's submission here:
        <a href="{{ reviewable.get_file_download_url }}">download link</a>
        View the file on your computer and answer questions below.
      {% endif %}

  </div>

{% endblock %}
