
{% extends template_base %}
{% load crispy_forms_tags %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object.course.code object.course.get_absolute_url %}
    {% breadcrumb "Exercise" ""%}
    {% breadcrumb object.name "" %}
{% endblock %}

{% block content %}

  {% if not embedded %}
  {% include "../tabs.html" with tab="exercise" type="original" %}
  {% endif %}

  <div class="row">
    <div class="col-md-12">
      <h2>{{ object.name }}</h2>

      {% include "./_open_times.html" %}

      <div class="col-md-12">
        {{ object.description | linebreaks }}
      </div>


      {% if my_submissions and disable_form %}

        <div class="alert alert-danger font-italic d-md-inline-block">
          <b>You have reached the maximum number of submissions</b>
        </div>
        <br>

      {% endif %}

      {% if object.type == 'APLUS' %}

        This exercise retrieves your submission in Plus. You're supposed to make your submission over there.

      {% else %}

        <form enctype="multipart/form-data"
              action="{% if APLUS_POST_URL %} {{ APLUS_POST_URL }} {% else %} {{ object.get_absolute_url }} {% endif %}"
              method="post">
              {% csrf_token %}
              {{ form | crispy }}

              {% include "./_group_enroll_info_box.html" %}
              {% include "./_submission_count_info.html" with exercise=object %}
              <input type="submit" class="btn btn-primary" value="Submit"
                     {% if disable_form %}disabled{% endif %}>
          </form>

      {% endif %}

    </div>
  </div>
{% if embedded %}
  {% block extra_js %}
    <script src="{% static 'js/embedded_view_bootstrap_fix.js' %}"></script>
  {% endblock extra_js %}
{% endif %}

{% endblock content %}


