
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load exercise_filters %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object.course.code object.course.get_absolute_url %}
    {% breadcrumb "Exercise" ""%}
    {% breadcrumb object.name "" %}
{% endblock %}

{% block content %}

  {% include "../tabs.html" with tab="exercise" type="original" %}

  <div class="row">
    <div class="col-md-12">
      <h2>{{ object.name }}</h2>

      {% if not object.is_open %}
        <div class="alert alert-danger d-md-inline-block">
          {% if object.opens_in_future %}
          This exercise will open on {{ object.opening_time | date:"SHORT_DATETIME_FORMAT" }}
          {% else %}
          This exercise was closed on {{ object.closing_time | date:"SHORT_DATETIME_FORMAT" }}

          {% with object|deadline_extension_for:request.user as extension %}
            {% if extension %}
            <br>
            <strong>However, teacher has given you an extended deadline until
              {{ extension.new_deadline | date:"SHORT_DATETIME_FORMAT" }}
            </strong>
            {% endif %}
          {% endwith %}

          {% endif %}
        </div>
        <br>
      {% endif %}

      <div class="col-md-12">
        {{ object.description | linebreaks }}
      </div>


      {% if my_submissions and disable_form %}

        <div class="alert alert-danger font-italic d-md-inline-block">
          <b>You have reached the maximum number of submissions</b>
        </div>
        <br>

      {% endif %}

      {% if object.type == 'APLUS' %}

        This exercise retrieves your submission in Plus. You're supposed to make your submission over there.

      {% else %}

        <form enctype="multipart/form-data"
              action="{{ object.get_absolute_url }}"
              method="post">
              {% csrf_token %}
              {{ form | crispy }}

              {% include "./_group_enroll_info_box.html" %}
              {% include "./_submission_count_info.html" with exercise=object %}
              <input type="submit" class="btn btn-primary" value="Submit"
                     {% if disable_form %}disabled{% endif %}>
          </form>

      {% endif %}

    </div>
  </div>
{% endblock content %}

