
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Update exercise details{% endblock %}

{% block content %}
  <h1>Create a new exercise</h1>

  <form class="form-horizontal" method="post"
        action="{% url 'courses:update-submission-exercise' course.base_course.url_slug course.url_slug object.pk %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <a class="btn btn-warning mr-4"
           onClick="javascript:history.go(-1)">Cancel</a>
        <button type="submit" class="btn btn-success">Update</button>
        <a class="btn btn-danger float-right" href="{% url 'courses:delete-submission-exercise' course.base_course.url_slug course.url_slug object.pk %}">Delete</a>
      </div>
    </div>
  </form>
{% endblock %}
