
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create new submission exercise{% endblock %}

{% block content %}
  <h1>Create a new submission exercise</h1>
  <h5>In this exercise the student returns something to the service.</h5>
  <h6>This is <b>not</b> peer-reviewing. This returned thing itself will be peer-reviewed.</h6>
  <form class="form-horizontal" method="post" action="{% url 'courses:create-submission-exercise' course.base_course.url_slug course.url_slug %}">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Create</button>
      </div>
    </div>
  </form>
{% endblock %}
