
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for object.get_absolute_url %}
        Submission exercise: {{ object.name }}
    {% endbreadcrumb_for %}
{% endblock %}

{% block content %}

  {% if not lti %}
  {% include "../tabs.html" with tab="exercise" type="original" %}
  {% endif %}

  <div class="row">
    <div class="col-md-12">
      <h2>{{ object.name }}</h2>

      {% include "./_open_times.html" %}

      {% if my_submissions and disable_form %}

        <div class="alert alert-danger font-italic ml-3 mr-3">
          You have reached the maximum number of submissions
        </div>

      {% endif %}

      <hr />

      <div>
        {{ object.description | linebreaks }}
      </div>



      {% if object.type == 'APLUS' %}

        This exercise retrieves your submission in Plus. You're supposed to make your submission over there.

      {% else %}

        <form enctype="multipart/form-data"
              action="{% if APLUS_POST_URL %} {{ APLUS_POST_URL }} {% else %} {{ object.get_absolute_url }} {% endif %}"
              method="post">
              {% csrf_token %}
              {{ form | crispy }}

              {% include "./_group_enroll_info_box.html" %}
              <input type="submit" class="btn btn-primary" value="Submit {% if teacher %}[teacher can't]{% endif %}"
                     {% if disable_form %}disabled{% endif %}>
        </form>

          {% include "./_submit_as_student.html" %}

      {% endif %}

    </div>
  </div>
{% if lti %}
  {% block extra_js %}
    <script src="{% static 'js/embedded_view_bootstrap_fix.js' %}"></script>
  {% endblock extra_js %}
{% endif %}

{% endblock content %}


