{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>Username: {{ object.username }}</h2>
      {% if object.name %}
        <p>Name: {{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">
  <div class="col-sm-12">

    {% if object.base_courses.all %}
      <h5>My courses:</h5>
        <div class="list-group">
          {% for base_course in object.base_courses.all %}
            {% for c in base_course.courses.all %}
              <div class="list-group-item">
                <a href="{% url 'courses:detail' c.base_course.url_slug c.url_slug %}">{{ base_course.name }}: {{ c.code }}</a>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      <br><br><br>
    {% else %}
    You don't have any courses. Ask the admin to add you a course.
    {% endif %}
  </div>

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

