{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>Username: {{ object.username }}</h2>
      {% if object.name %}
        <p>Name: {{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">
  <div class="col-sm-12">

    {% if object.course_set.all %}
      <h5>My courses:</h5>
        <div class="list-group">
          {% for c in object.course_set.all %}
            <div class="list-group-item">
              <a href="{% url 'courses:detail' c.pk %}">{{ c.name }}</a>
            </div>
          {% endfor %}
        </div>
      <br><br><br>
    {% else %}
    You don't have any courses.
    <br>
    <a href="{% url 'courses:create' %}">Create a new one?</a>
      <br><br><br>
    {% endif %}
  </div>

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

