{% extends "base.html" %}
{% load static i18n %}
{% block title %}Courses{% endblock %}

{% block content %}
  <h2>Courses</h2>

  <p>
    Ask the admin to create a new course for you if needed
  </p>

  <h3>Courses:</h3>

  {% if course_list %}
    <div class="list-group">
      {% for course in course_list %}
      <a href="{{ course.get_absolute_url }}" class="list-group-item">
         <h4 class="list-group-item-heading">{{ course.base_course.name }}: {{ course.code }} ({{ course.year }})

           {% if course.hidden %}<span class="badge badge-warning badge-pill">HIDDEN</span>{% endif %}

         </h4>
      </a>
      {% endfor %}
    </div>
  {% else %}
    No courses found :(
  {% endif %}
{% endblock content %}
