{% extends "base.html" %}
{% load static %}

{% block title %}Course: {{ object.name }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h2>{{ object.base_course.name }}</h2>
      Code: {{ object.code }}<br>
      URL: {{ object.url_slug }}<br>
      Start: {{ object.start_date }}<br>
      End: {{ object.end_date }}<br>


      <a class="btn btn-sm btn-primary mt-3" href="{% url 'courses:update' object.pk %}">Edit course details</a>

    </div>
    <div class="col-sm-12 mt-4">
      <h4>Teachers of the course:</h4>
      <div class="list-group">
        {% for teacher in object.base_course.teachers.all %}
          <div class="list-group-item">
            {{ teacher.name }}
          </div>
        {% endfor %}
      </div>
    </div>
    </div>
  </div>

</div>
{% endblock content %}

