{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Course details{% endblock %}

{% block content %}
  <h1>Update course details</h1>
  <form class="form-horizontal" method="post" action="{% url 'courses:update' object.base_course.url_slug object.url_slug %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Update</button>
      </div>
    </div>
  </form>

  <br>
  <strong>You may change the order of the exercises on the course home page by filling the form field above. Use all IDs listed below and separate them by comma (,).</strong>
  <br>
  Your exercise IDs:
  <ul>
    {% for exer in object.submissionexercise_exercises.all %}
    <li>ID: {{ exer.pk }} | {{ exer }} </li>
    {% endfor %}
  </ul>


{% endblock %}
