{% extends "base.html" %}
{% load static i18n %}
{% block title %}Courses{% endblock %}

{% block content %}
<div class="container">
  <h2>Courses</h2>

  <p>
    <a class="btn btn-success btn-sm" href="{% url 'courses:create' %}">Create a new course!</a>
  </p>


  {% if course_list %}
    <h3>All available courses:</h3>
    <div class="list-group">
      {% for course in course_list %}
       <a href="{% url 'courses:detail' course.pk %}" class="list-group-item">
          <h4 class="list-group-item-heading">{{ course.name }}</h4>
        </a>
      {% endfor %}
    </div>
  {% else %}
    No courses found :(
  {% endif %}
</div>
{% endblock content %}
