{% extends "base.html" %}
{% load static i18n %}
{% block title %}Courses{% endblock %}

{% block content %}
  <h2>Courses</h2>

  <p>
    Ask the admin to create a new course for you if needed
  </p>


  {% if course_list %}
    <h3>All available courses:</h3>
    <div class="list-group">
      {% for course in course_list %}
       <a href="{% url 'courses:detail' course.base_course.url_slug course.url_slug %}" class="list-group-item">
         <h4 class="list-group-item-heading">{{ course.base_course.name }}: {{ course.code }} ({{ course.year }})</h4>
        </a>
      {% endfor %}
    </div>
  {% else %}
    No courses found :(
  {% endif %}
{% endblock content %}
