


  <div class="col-sm-12 mt-4">

    <div class="list-group-item d-flex justify-content-between">
      <div class="col-5">
        <h3>
        Submission exercises
        </h3>
        <span class="text-muted">where students submit an answer</span>
      </div>
      <div class="col-5">
        <h3>
        Peer-review exercises
        </h3>
        <span class="text-muted">where students peer-review {something}</span>
      </div>
    </div>

    {% for ex in submissionexercises %}

      <div class="list-group-item d-flex justify-content-between">

        <div class="col-5" style="border-right:0px solid grey;">
          {% if ex.visible_to_students %}
            <a href="{{ ex.get_absolute_url }}" style="font-weight: bold;">{{ ex.name }}</a>
            <br>
            Deadline: {{ ex.closing_time | date:"SHORT_DATETIME_FORMAT" }}
          {% elif teacher %}
            <a href="{{ ex.get_absolute_url }}" style="font-weight: bold;">{{ ex.name }}</a>
            <span class="badge badge-pill badge-secondary">hidden</span>
            <br>
            Deadline: {{ ex.closing_time | date:"SHORT_DATETIME_FORMAT" }}
          {% endif %}
          <br>
          {% if teacher %}
            <a class="btn btn-sm btn-sm-pad btn-outline-secondary"
               href="{{ ex.get_edit_url }}">
              edit
            </a>
            <a class="btn btn-sm btn-sm-pad btn-outline-secondary"
               href="{{ ex.get_list_url }}">
              submissions
            </a>
          {% endif %}
        </div>

        <div class="col-5" style=" border-left:0px solid grey;">
          {% with rexer=ex.review_exercise %}
          {% if rexer %}
            {% if rexer.visible_to_students %}
              <a href="{{ rexer.get_absolute_url }}" style="font-weight: bold;">{{ rexer.name }}</a>
              <br>
              Deadline: {{ rexer.closing_time | date:"SHORT_DATETIME_FORMAT" }}
              {% if rexer.show_reviews_after_date %}
                <br>
                Feedback available: {{ rexer.show_reviews_after_date | date:"SHORT_DATETIME_FORMAT" }}
              {% endif %}
            {% elif teacher %}
              <a href="{{ rexer.get_absolute_url }}" style="font-weight: bold;">{{ rexer.name }}</a>
              <span class="badge badge-pill badge-secondary">hidden</span>
              <br>
              Deadline: {{ rexer.closing_time | date:"SHORT_DATETIME_FORMAT" }}
              {% if rexer.show_reviews_after_date %}
                <br>
                Feedback available: {{ rexer.closing_time | date:"SHORT_DATETIME_FORMAT" }}
              {% endif %}
            {% endif %}

          <br>

            {% if teacher and rexer %}
              <a class="btn btn-sm btn-sm-pad btn-outline-secondary"
                 href="{{ rexer.get_edit_url }}">
                edit
              </a>
              <a class="btn btn-sm btn-sm-pad btn-outline-secondary"
                 href="{{ rexer.get_list_url }}">
                submissions
              </a>
              <a class="btn btn-sm btn-sm-pad btn-outline-secondary"
                 href="{{ rexer.get_stats_url }}">
                statistics
              </a>
            {% endif %}

          {% else %}
            {% if teacher %}
            <span style="font-weight: normal;">No peer-review exercise.</span>
                <a href="{% url 'courses:create-review-exercise' object.base_course.url_slug object.url_slug %}">
                  Create?
                </a>
            {% endif %}
          {% endif %}
          {% endwith %}
        </div>


      </div>
    {% endfor %}

    {% if teacher %}
    <div class="list-group-item d-flex justify-content-between">
      <div class="col-5">
      <a href="{% url 'courses:create-submission-exercise' object.base_course.url_slug object.url_slug %}">
        <button class="btn btn-sm btn-primary mt-3">
          Create new
        </button>
      </a>
      </div>
      <div class="col-5">
      <a href="{% url 'courses:create-review-exercise' object.base_course.url_slug object.url_slug %}">
        <button class="btn btn-sm btn-primary mt-3">
          Create new
        </button>
      </a>
      </div>

    {% endif %}
  </div>

