    <div class="col-sm-12 mt-3">
      <hr></hr>
      <h5>Submission exercises
        <br>
        <small class="text-muted">where students submit their answers</small>
      </h5>
        {% if teacher %}
          <a href="{% url 'courses:create-submission-exercise' object.base_course.url_slug object.url_slug %}">
            <button class="btn btn-sm btn-primary mb-3">
              add new
            </button>
          </a>
        {% endif %}
      <div class="list-group ex-list">
      {% for ex in object.submissionexercise_exercises.all %}
        <div class="list-group-item d-flex justify-content-between">
            <div class="p-2">
              <a href="{% url 'courses:exercises:submission-detail' object.base_course.url_slug object.url_slug ex.pk %}">
                {{ ex.name }}
              </a>
            </div>

            {% if teacher %}
            <div class="p-2">
              <a class="btn btn-sm btn-sm-pad btn-outline-secondary"
                 href="{% url 'courses:update-submission-exercise' object.base_course.url_slug object.url_slug ex.pk %}">
                edit
              </a>
              <a class="btn btn-sm btn-sm-pad btn-outline-secondary"
                 href="{% url 'courses:submissions:original-list' object.base_course.url_slug object.url_slug ex.pk %}">
                submissions
              </a>
            </div>
            {% endif %}
        </div>
      {% endfor %}
      </div>
    </div>

    <div class="col-sm-12 mt-3">
      <hr></hr>
      <h5>Peer-review exercises<br>
        <small class="text-muted">where students peer-review {something}</small>
      </h5>
        {% if teacher %}
          <a href="{% url 'courses:create-review-exercise' object.base_course.url_slug object.url_slug %}">
            <button class="btn btn-sm btn-primary mb-3">
              add new
            </button>
          </a>
        {% endif %}
      <div class="list-group ex-list">
      {% for ex in object.reviewexercise_exercises.all %}
        <div class="list-group-item d-flex justify-content-between">
            <div class="p-2">
              <a href="{% url 'courses:exercises:review-detail' object.base_course.url_slug object.url_slug ex.pk %}">
                {{ ex.name }}
              </a>
            </div>
            {% if teacher %}
            <div class="p-2">
              <a class="btn btn-sm btn-sm-pad btn-outline-secondary"
                 href="{% url 'courses:update-review-exercise' object.base_course.url_slug object.url_slug ex.pk %}">
                edit
              </a>
              <a class="btn btn-sm btn-sm-pad btn-outline-secondary"
                 href="{% url 'courses:submissions:review-list' object.base_course.url_slug object.url_slug ex.pk %}">
                submissions
              </a>
            </div>
            {% endif %}
          </div>
      {% endfor %}
      </div>
    </div>

