{% extends "base.html" %}
{% load static i18n %}
{% block title %}Statistics{% endblock %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb course.code course.get_absolute_url %}
    {% breadcrumb "Peer-review exercise" ""%}
    {% breadcrumb re.name re.get_absolute_url %}
    {% breadcrumb "Statistics" "" %}
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
    {% include "../tabs.html" with tab="statistics" object=re %}

      {# include "./_stats_form.html" #}

      <table class="table">
        <tr>
          <th scope="col">Reviewed</th>
          {% for nq in numeric_questions %}
            <th scope="col">Q: {{ nq.text }}</th>
          {% endfor %}
          {% for i in max_review_count %}
            <th scope="col">Reviewer {{ i }}</th>
          {% endfor %}
        </tr>
        {% for row in stats.values %}
          <tr scope="row">
            <td><a href="{{ row.os.get_absolute_url }}">{{ row.os.submitter }}</a></td>
            {% for avg in row.avgs %}
              <td>{{ avg | floatformat:2}}</d>
            {% endfor %}
            {% for review in row.reviews %}
              <td>
                <a href="{{ review.get_absolute_url }}">{{ review.submitter }}</a>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}

      </table>
    </div>
  </div>

{% endblock %}
