      <hr>
        <h5 class="mt-3">Teachers of the course:</h5>
        <div class="list-group">
          {% for teacher in object.base_course.teachers.all %}
            <div class="list-group-item">
              {{ teacher.username }}, {{ teacher.email }}
            </div>
          {% endfor %}
        </div>

        <br>

        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#students-collapse" aria-expanded="false" aria-controls="collapseExample">
          Show enrolled students of the course
        </button>
        <br>
        <br>

        {% if not object.students.all %}
          No one has yet to enroll to this course.
        {% endif %}
        <div id="students-collapse" class="collapse list-group">
          {% for student in object.students.all %}
            <div class="list-group-item">
              {{ student.username }}, {{ student.email }}
            </div>
          {% endfor %}
        </div>

        <br><br>
