
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object.course.code object.course.get_absolute_url %}
    {% breadcrumb "Exercise" ""%}
    {% breadcrumb object.exercise.name object.exercise.get_absolute_url %}
    {% breadcrumb "List" "courses:submissions:original-list" object.course.base_course.url_slug object.course.url_slug object.exercise.pk %}
    {% breadcrumb "Submission" "" %}
{% endblock %}

{% block content %}

  {% include "../tabs.html" with tab="submissions" type="original" object=object.exercise %}

  <div class="row">
    <div class="col-sm-12">
      <h4>Submission to exercise <a class="font-italic" href="{{ object.exercise.get_absolute_url }}">{{ object.exercise.name }}</a></h4>
      <div class="shadow p-3 mb-5 bg-white rounded">

        {% if teacher %}
        <a href="{{ object.get_delete_url }}"
           class="btn btn-sm btn-danger float-right">Delete</a>
        {% endif %}

        <strong>Submitter</strong>: {{ object.submitter_user }}<br>
        {% if object.submitter_group %}<strong>Submitter group</strong>: {{ object.submitter_group }}<br>{% endif %}
        <strong>Submission time</strong>: {{ object.created }}<br>
        {% if object.exercise.use_states %}
        <strong>Submission state</strong>: {{ object.state }}<br>
        {% endif %}
      </div>

      <div class="shadow p-3 mb-5 bg-white rounded">
        <h3>Submission content:</h3>

      {% if object.text %}

        <p><strong>Submission text:</strong></p>
        <div class="col-sm-6 ml-4 mb-4">
          {{ object.text | linebreaks }}
        </div>

      {% endif %}

      {% if object.file %}

      <p><strong>Submitted file: (<a href="{{ object.get_file_download_url }}">download</a>)</strong></p>

        {% if filecontents %}
          <div class="card card-body"
               style="background:#FFE;">
          <br>
          {% load pygmentify %}
          {% pygment %}
            <!-- TODO: general implementation for any contents -->
            <pre lang="python">{{ filecontents }}</pre>
          {% endpygment %}

          </div>
        {% endif %}
      {% endif %}
      </div>

      {% if object.exercise.use_states %}
      {% if teacher %} {# TODO: do we need a student version of the below stuff? #}
          <hr></hr>
          <h2>Teacher feedback to student:</h2>
            {% if state_form %}
              <h6 class="mt-4">Submission state</h6>
              <small>If you've enabled the "use states" option in the exercise configuration, you
                     can change the state of the submission here. You can either give the student
                     a boomerang or OK the submission and turn it ready for peer-review.</small>
              <form class="form-horizontal" method="post"
                                            action="{{ object.get_update_state_url }}">
                {% csrf_token %}
                {{ state_form|crispy }}
                <button type="submit" class="btn btn-primary btn-sm">Save</button>
              </form>

            {% else %}
              You have not enabled "use states" in this exercise's configuration. This submission is automatically
              put into peer-review queue for other students.
            {% endif %}

            <h6 class="mt-4">All submissions by the same submitter</h6>
            <div class="list-group">
              {% for sub in other_submissions %}
                <div class="list-group-item {% if sub == object %}border-success{% endif %}">
                  <a href="{{ sub.get_absolute_url }}">{{ sub }}</a>
                </div>
              {% endfor %}
            </div>
      {% endif %}
      {% endif %}

      {% if teacher %}
        <h3>Peer-reviews of this original submission:</h3>
        <i>(Only teacher sees this)</i>
        {% for re in object.reviews.all  %}
          <div class="list-group-item">
            <a href="{{ re.get_absolute_url }}">{{ re  }}</a>
          </div>
        {% endfor %}
      {% endif %}

    </div>
  </div>
{% endblock content %}

