
{% extends "base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object.course.code object.course.get_absolute_url %}
    {% breadcrumb "Exercise" ""%}
    {% breadcrumb object.exercise.name object.exercise.get_absolute_url %}
    {% breadcrumb "List" "courses:submissions:original-list" object.course.base_course.url_slug object.course.url_slug object.exercise.pk %}
    {% breadcrumb "Submission" "" %}
{% endblock %}

{% block content %}

  {% include "../tabs.html" with tab="submissions" type="original" object=object.exercise %}

  <div class="row">
    <div class="col-sm-12">
      <h4>Original submission to exercise {{ object.exercise.name }}</h4>
      <p><b>Submitter</b>: {{ object.submitter }}
      <br>
      <b>Submission time</b>: {{ object.created }}</p>

      {% if object.text %}

        <p><b>Submission text:</b></p>
        <div class="col-sm-6 ml-4 mb-4">
          {{ object.text | linebreaks }}
        </div>

      {% endif %}

      {% if object.file %}

      <p><b>Submitted file: (<a href="{{ object.get_file_download_url }}">download</a>)</b></p>
        <div class="card card-body"
             style="background:#FFE;">
        <br>
        {% load pygmentify %}
        {% pygment %}
          <!-- TODO: general implementation for any contents -->
          <pre lang="python">{{ filecontents }}</pre>
        {% endpygment %}

        </div>
      {% endif %}

    </div>
  </div>
{% endblock content %}

