
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb course.code course.get_absolute_url %}
    {% breadcrumb "Original submission" ""%}
    {% breadcrumb object.name object.get_absolute_url %}
    {% breadcrumb "Delete" "" %}
{% endblock %}

{% block title %}Delete original submission{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete original submission "{{ object }}"?</p>

    <p>Deleting the exercise will also delete:</p>

    <strong>Peer-reviews:</strong>
    {% if not object.reviews.all %}
    <br>No peer-reviews exist yet.
    {% else %}
      <ul>
      {% for re in object.reviews.all %}
        <li><a href="{{ re.get_absolute_url }}">{{ re }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}

    <br>
    <strong>Review locks:</strong>
    {% if not object.reviewlocks.all %}
    <br>Submission has not been assigned to anyone yet.
    {% else %}
      <ul>
      {% for rl in object.reviewlocks.all %}
        {{ rl.user }} {{ rl.group }}
      {% endfor %}
      </ul>
    {% endif %}

    <div class="mt-4">
    <a class="btn btn-primary mr-4"
       onClick="javascript:history.go(-1)">Cancel</a>
    <input class="btn btn-danger" type="submit" value="Confirm deletion" />
    </div>
</form>

{% endblock %}
