{% extends "base.html" %}
{% load static i18n %}
{% block title %}Submissions{% endblock %}

{% block content %}
  <h2>Submissions to task: </h2>


  {% if originalsubmission_list %}
    <div class="list-group">
      {% for origsub in originalsubmission_list %}
      <a href="{% url 'courses:submissions:original-detail' course.base_course.url_slug course.url_slug pk origsub.pk %}" class="list-group-item">
         {{ origsub }}
        </a>
      {% endfor %}
    </div>
  {% else %}
    No submissions yet
  {% endif %}
{% endblock content %}
