{% extends "base.html" %}
{% load static i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb course.code course.get_absolute_url %}
    {% breadcrumb exercise.name exercise.get_absolute_url %}
    {% breadcrumb "List" "" %}
{% endblock %}
{% block title %}Submissions{% endblock %}

{% block content %}

  {% include "../tabs.html" with tab="submissions" type="original" object=exercise %}

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        {% if teacher %}
        <thead>
          <tr>
            <th>Submitter<br><input placeholder="not implemented"></th>
            <th>Date<br><input placeholder="not implemented"></th>
            <th>Status<br><input placeholder="not implemented"></th>
          </tr>
        </thead>
        {% endif %}

        {% if object_list %}
        <div class="alert alert-warning d-md-inline-block">
          {% if not teacher %}
          The last submission will appear in peer-reviews.
          {% else %}
          If someone has made multiple submissions, the last one will appear in peer-reviews.
          {% endif %}
        </div>
        {% endif %}

        <tbody>
          {% if not object_list %}
            No submissions yet
          {% else %}
            {% for origsub in object_list %}
              <tr scope="row">
                <td>
                  {{ origsub.submitter }}
                </td>
                <td>
                  <a href="{{ origsub.get_absolute_url }}">
                    {{ origsub.created }}
                  </a>
                </td>
                <td>
                  {{ origsub.state }}
                </td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>

    </div>
  </div>

{% endblock content %}
