
{% extends "base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object.course.code object.course.get_absolute_url %}
    {% breadcrumb "Peer-review exercise" ""%}
    {% breadcrumb object.exercise.name object.exercise.get_absolute_url %}
    {% breadcrumb "List" "courses:submissions:review-list" object.course.base_course.url_slug object.course.url_slug object.exercise.pk %}
    {% breadcrumb "Submission" "" %}
{% endblock %}

{% block content %}
  {% if receiver %}
  {% include "../tabs.html" with tab="submissions_me" object=object.exercise %}
  {% else %}
  {% include "../tabs.html" with tab="submissions" object=object.exercise %}
  {% endif %}

  <div class="row">
    <div class="col-sm-12">
      <h4>Peer-review to exercise <a class="font-italic" href="{{ object.get_absolute_url }}">{{ object.exercise.name }}</a></h4>

      {% if not receiver %}
        Submitter: {{ object.submitter_user }}<br>
      {% endif %}

      {% if object.submitter_group %}
        Group: {{ object.submitter_group }}
      {% endif %}

      <p>Submission time: {{ object.created }}</p>

      <ul>
        {% for item in qa_list %}
          <li>
            Question: <b>{{ item.q }}</b>
            <br>
            A: <br>
              {{ item.a | linebreaks }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}

