
{% extends "base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object.course.code object.course.get_absolute_url %}
    {% breadcrumb "Peer-review exercise" ""%}
    {% breadcrumb object.exercise.name object.exercise.get_absolute_url %}
    {% breadcrumb "List" "courses:submissions:review-list" object.course.base_course.url_slug object.course.url_slug object.exercise.pk %}
    {% breadcrumb "Submission" "" %}
{% endblock %}

{% block content %}
  {% if receiver %}
  {% include "../tabs.html" with tab="submissions_me" object=object.exercise %}
  {% else %}
  {% include "../tabs.html" with tab="submissions" object=object.exercise %}
  {% endif %}

  <div class="row">
    <div class="col-sm-12">
      <h4>Peer-review to exercise <a class="font-italic" href="{{ object.get_absolute_url }}">{{ object.exercise.name }}</a></h4>


      <div class="shadow p-3 mb-5 bg-white rounded">

        {% if not receiver %}
        <strong>Submitter:</strong> {{ object.submitter_user }}<br>

          {% if object.submitter_group %}
          <strong>Submitter group:</strong> {{ object.submitter_group }}<br>
          {% endif %}

        {% endif %}

        <strong>Review time:</strong> {{ object.created }}<br>

        {% if teacher or receiver %}
          <strong>Reviewed submission:</strong>
          <a href="{{ object.reviewed_submission.get_absolute_url }}">
            {{ object.reviewed_submission }}
          </a>
        {% endif %}

      </div>

      <div class="shadow p-3 mb-5 bg-white rounded">
        <h3>Peer-review content:</h3>
        <ul>
          {% for item in qa_list %}
            <li class="mt-4">
              Question:<br>
              <div class="ml-4">
                <b>{{ item.q }}</b>
              </div>
              <br>
              Answer:<br>
              <div class="ml-4">
                {{ item.a | linebreaks }}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>

      {% if teacher %}

        <h3>Other peer-reviews of the same original submission:</h3>
        <i>(Only teacher sees this)</i>
        {% for re in object.reviewed_submission.reviews.all  %}
          {% if re.pk != object.pk %}
          <div class="list-group-item">
            <a href="{{ re.get_absolute_url }}">{{ re  }}</a>
          </div>
          {% endif %}
        {% endfor %}

      {% endif %}


    </div>
  </div>
{% endblock content %}

