{% extends "base.html" %}
{% load static i18n %}
{% block title %}Submissions{% endblock %}

{% block content %}
  <h2>Submissions to task: </h2>


  {% if reviewsubmission_list %}
    <div class="list-group">
      {% for r_sub in reviewsubmission_list %}
      <a href="{% url 'courses:submissions:review-detail' course.base_course.url_slug course.url_slug r_sub.pk %}" class="list-group-item">
         {{ r_sub }}
        </a>
      {% endfor %}
    </div>
  {% else %}
    No submissions yet
  {% endif %}
{% endblock content %}
