{% extends "base.html" %}
{% load static i18n %}
{% block title %}Submissions{% endblock %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb course.code course.get_absolute_url %}
    {% breadcrumb "Peer-review exercise" ""%}
    {% breadcrumb exercise.name exercise.get_absolute_url %}
    {% breadcrumb "List" "" %}
{% endblock %}

{% block content %}


  {% if my_mode %}
  {% include "../tabs.html" with tab="submissions_me" object=exercise %}
  {% else %}
  {% include "../tabs.html" with tab="submissions" object=exercise %}
  {% endif %}
  <div class="row">
    <div class="col-md-12">

      {% if show_reviews_date_not_passed %}
      Peer-reviews will be available after {{ exercise.show_reviews_after_date }}<br>
      {% else %}

      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            {% if teacher %}
            <th>Submitter<br><input placeholder="not implemented"></th>
            {% endif %}
            <th>Date{% if teacher %}<br><input placeholder="not implemented">{% endif %}</th>
          </tr>
        </thead>
        <tbody>
            {% for origsub in reviewsubmission_list %}
              <tr scope="row">
                <td> {{ forloop.counter }} </td>
                {% if teacher %}
                  <td>
                    {{ origsub.submitter }}
                  </td>
                {% endif %}
                <td>
                  <a href="{{ origsub.get_absolute_url }}">
                    {{ origsub.created }}
                  </a>
                </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>

      {% endif %}

      {% if not reviewsubmission_list and not teacher %}
        No submissions/peer-reviews available yet
      {% elif not reviewsubmission_list and teacher %}
        This page would list feedback from other students to you. You're a teacher, so the list is empty.
      {% endif %}

    </div>
  </div>

{% endblock content %}
